<% if product.bookmarked_by?(current_user) %>            <!--非同期通信2/5-->
      <p><%= link_to product_bookmarks_path(product), method: :delete, remote: true do %>
      <%= product.bookmarks.count %>ブックマーク
      <% end %></p>
    <% else %>
      <p><%= link_to product_bookmarks_path(product), method: :post, remote: true do %>
      ︎<%= product.bookmarks.count %>ブックマーク
      <% end %></p>
    <% end %>