<div class="container text-center mt-3">
  <div class="row">
    <div class="col">
      <h3 class="indent mb-3">
        <span class='indention'>便利グッズの情報を</span><span class='indention'>交換し合おう<i class="fas fa-child"></i></span>
      </h3>
      <p class='indent'>
        <span class='indention'>重宝してる便利グッズの</span><span class='indention'>気に入ってる便利な点</span>
      </p>
      <p class='indent'>
        <span class='indention'>人に勧めたくなる</span><span class='indention'>使用することで快適になった便利グッズ</span>
      </p>
      <p class='indent'>
        <span class='indention'>愛用してるからこそわかる</span><span class='indention'>メリット・デメリットを投稿しよう</span>
      </p>
      <div class="test"><%= image_tag 'fitness1' %></div>
    </div>
  </div>
</div>