<div class="container">
  <div class="row">
    <div class="col">
<h3>便利グッズの情報を交換し合おう<i class="fas fa-child"></i></h3>
<p>・重宝してる便利グッズの気に入ってる便利な点</p>
<p>・人に勧めたくなる、使用することで快適になった便利グッズ</p>
<p>・愛用してるからこそわかる、その便利グッズのメリット・デメリットを投稿しよう</p>
    </div>
  </div>
</div>