

<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><%= image_tag 'friends.jpg' %></div>
    <div class="swiper-slide"><%= image_tag 'succulents' %></div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
