/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
    color: #485876;
    font-family: 'Kosugi Maru', sans-serif;
}

a {
    color: #91B3E0;
}
a:hover {
    color: #5B7EA9;
}
// header {
//     font-family: 'Kosugi Maru', sans-serif;
// }
// * {
//     background-color: #C3C4C9;
// }



.notice {
    color: #ff4a4a;
    margin-left: 10px;
}

.alert {
    color: #ff4a4a;
    margin-left: 10px;
}

.error_explanation {
    color: #ff4a4a;
    // border: 2px solid #ff4a4a;
    // padding: 5px;
    // width: 30%;
    // display: block;
    // margin: 0 auto;
    margin-bottom: 15px;
}

.error_explanation li {
    list-style: none;
}

.fa-users:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f0c0';
}

.fa-paper-plane:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f1d8';
}

.fa-info-circle:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f05a';
}

.fa-sign-in-alt:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f2f6';
}

.fa-sign-out-alt:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f2f5';
}

.fa-crown:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f521';
}

.fa-file-signature:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f573';
}

.fa-edit:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f044';
}

.fa-republican:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f75e';
}
// .fa-signature:before {
//     font-family: "Font Awesome 5 Free";
//     font-weight: 900;
//     content: '\f5b7';
// }

.fa-play:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f04b';
}

.link-color {
    color: #C7433C;
}

input[type="text"] {                                  /*他のtext_fieldにも適用されるからwidthとheightは個別に設定*/
    padding: 10px;
    background-color: #FBF8F8;
    outline-color: #F28D8D;
}

input[type="password"] {
    padding: 10px;
    width: 300px;
    height: 40px;
    background-color: #FBF8F8;
    outline-color: #F28D8D;
}

input[type="email"] {
    padding: 10px;
    width: 300px;
    height: 40px;
    background-color: #FBF8F8;
    outline-color: #F28D8D;
}




.profile_image {
    border-radius: 30%;
}

.navbar {
    background-color: #FEF7EB;
}

.navbar h1 {

    font-size: 28px;
}
// .nav-item {
//     color: #1D3A5E;
// }

.nav-link {
    color: #F28D8D;
    font-size: 20px;
    font-weight: border;
}

.navbar-toggler {                               /*ハンバーガーメニュー枠線*/
    border-color: #F28D8D;
    border-width: 3px;
}

.navbar-toggler{                               /*ハンバーガーメニュー背景色*/
  background-color: #FEF7EB;
}

.navbar-toggler .navbar-toggler-icon {                               /*ハンバーガーメニュー三本線*/
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(242,141,141)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(242,141,141);
    // color: #F28D8D;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #5B7EA9;
}

.application_name {
    font-size: 60px;
    // font-family: 'Caveat', cursive;
// font-family: 'Kalam', cursive;
}

.page-center {
    display: block;
    text-align: center;
    margin: 0 0 35px;
}

.top-btn {
    display: inline-block;
    padding: 10px 50px;
    width: 300px;
    background-color: #E5E5E5;
    border-radius: 30px;
    margin-top: 5px;
}

.confirm-btn {                                                      /*会員登録系*/
    padding: 8px 0;
    color: #91B3E0;
    background-color: #E5E5E5;
    display: block;
    margin: 0 auto;
    width: 23%;
    border-radius: 5px;
    opacity: 0.8;
    border: none;
}

.confirm-btn:hover {
    opacity: 1;
    color: #5B7EA9;
}

.submit-btn {
    border: none;                                                     /*枠線消した*/
    color: #91B3E0;
    padding: 8px 24px;
    background-color: #E5E5E5;
    display: block;
    margin: 0 auto;
    width: 15%;
    border-radius: 5px;
    opacity: 0.8;
}

.submit-btn:hover {
    color: #5B7EA9;
}

// .submit-btn:action {
//     border: blue;
// }

.search-form {
    background-color: #FBF8F8;
    outline-color: #F28D8D;
    padding: 5px;
    width: 180px;
}

.search-submit-btn {
    border: none;                                                     /*枠線消した*/
    color: #91B3E0;
    padding: 6px;
    background-color: #E5E5E5;
    display: block;
    // margin: 0 auto;
    // width: 10%;
    border-radius: 5px;
    // opacity: 0.8;
    margin-top: 5px;
}

.search-submit-btn:hover {
    color: #5B7EA9;
}

// .search-submit-btn:action {
//     // border: blue;
// }

.card-group {
    background-color: #FBF8F8;
    padding-bottom: 20px;                   /*下のcardのbottomにもバックグラウンドカラー適用*/
    text-align: center;
}

.user-card-group{
    background-color: #FBF8F8;
}

.card {
    margin: 20px;
}

.card-title {
    font-size: 15px;
}

.card-text {
    font-size: 15px;
}



.line-clamp {                       /*テキスト省略*/
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-img-top {                         /*cardの画像*/
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

// .field {
//     border-top: 1px solid #C3C4C9;
//     width: 50%;
// }

.long-text-form {
    width: 80%;
    border-color: #485876;
    border-width: 2px;
    padding: 10px;
    background-color: #FBF8F8;
    outline-color: #F28D8D;
}

.text-form {
    width: 50%;
    border-color: #485876;
    border-width: 2px;
    padding: 10px;
    background-color: #FBF8F8;
    outline-color: #F28D8D;
}

.middle-text-form {
    width: 30%;
    border-color: #485876;
    border-width: 2px;
    padding: 10px;
    background-color: #FBF8F8;
    outline-color: #F28D8D;
}

.short-text-form {
    width: 20%;
    border-color: #485876;
    border-width: 2px;
    padding: 10px;
    background-color: #FBF8F8;
    outline-color: #F28D8D;
}

// .tag {
//     border: 1px solid #485876;
//     padding: 3px;
// }

// #textarea {                                                 改行でフォームを大きくする、、(htmlとjsにも記入してる)
// //   width: 500px;
// //   max-height: 200px;
//   padding: 8px;
//   line-height: 20px;
// }

.pagination {
    justify-content: center;
}

/*ページネーション自体のデザイン*/
.pagination li a {
  border: none;     /*枠線をなくす*/
  color: #485876;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination .active a {
  background-color: black;     /*背景の色を変える*/
  border-radius: 50%;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination li a:hover {
  border-radius: 50%;    /*角を丸くする*/
  background-color: #FBF8F8;
}


footer {
    background-color: #FEF7EB;
}

// スムーススクロール機能2/3 ここから
#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 90%;
}

#page-top a {
    background-color: #FBF8F8;
    text-decoration: none;
    color: #485876;
    width: 100px;
    padding: 30px 0;
    text-align: center;
    display: block;
    border: 1px solid #485876;
    border-radius: 5px;
}

#page-top a:hover {
    text-decoration: none;
    background-color: #E5E5E5;
}
// スムーススクロール機能2/3 ここまで




/* 前ページ、次ページボタン共通のスタイル */
// .swiper-button-prev,
// .swiper-button-next {
// 	background-image: none; /* デフォルトのボタン画像を消す */
// 	width: 28px; /* ボタンの幅 */
// 	height: 86px; /* ボタンの高さ */
// 	margin-top: -43px; /* 縦中央配置用：ボタンの高さの半分のネガティブマージン（top:50%がすでに設定されている） */
// }
/* 前ページボタンのスタイル */
.swiper-button-prev:after {                             /*:beforeやったら適応しなかった*/
// 	font-family: "Font Awesome 5 Free";
// 	content: "\f100"; /* angle-double-leftのUnicode */
// 	font-size: 48px;
	color: #485876;
}
/* 次ページボタンのスタイル */
.swiper-button-next:after {
// 	font-family: "Font Awesome 5 Free";
// 	content: "\f101"; /* angle-double-rightのUnicode */
// // 	font-size: 48px;
// 	font-weight: 900;
	color: #485876;
}
