/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

html {
    background-color: #C3C4C9;
}

// * {
//     background-color: #C3C4C9;
// }


.profile_image {
    border-radius: 30%;
}

.navbar {
    background-color: #FEF7EB;
}

// .nav-item {
//     color: #1D3A5E;
// }

.nav-link {
    color: #F28D8D;
    font-size: 30px;
    font-weight: bold;
}

footer {
    background-color: #FEF7EB;
}

// スムーススクロール機能2/3 ここから
#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
}
#page-top a {
    background: #666;
    text-decoration: none;
    color: #fff;
    width: 100px;
    padding: 30px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
}
#page-top a:hover {
    text-decoration: none;
    background: #999;
}
// スムーススクロール機能2/3 ここまで