/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    color: #485876;
    font-family: 'Kosugi Maru', sans-serif;
}

a {
    color: #91B3E0;
    // display: block;
}

a:hover {
    color: #5B7EA9;
}

.notice {
    color: #ff4a4a;
    margin-left: 10px;
}

.alert {
    color: #ff4a4a;
    margin-left: 10px;
}

.error_explanation {
    color: #ff4a4a;
    // border: 2px solid #ff4a4a;
    // padding: 5px;
    // width: 30%;
    // display: block;
    // margin: 0 auto;
    margin-bottom: 15px;
}

.error_explanation li {
    list-style: none;
}

.fa-users:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f0c0';
}

.fa-paper-plane:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f1d8';
}

.fa-info-circle:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f05a';
}

.fa-sign-in-alt:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f2f6';
}

.fa-sign-out-alt:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f2f5';
}

.fa-crown:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f521';
}

.fa-file-signature:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f573';
}

.fa-edit:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f044';
}

.fa-republican:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f75e';
}

.fa-play:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f04b';
}

.link-color {
    color: #C7433C;
}

input[type="text"] {                                  //他のtext_fieldにも適用されるからwidthとheightは個別に設定
    padding: 10px;
    background-color: #FBF8F8;
    outline-color: #F28D8D;
}

input[type="password"] {
    padding: 10px;
    width: 300px;
    height: 40px;
    background-color: #FBF8F8;
    outline-color: #F28D8D;
}

input[type="email"] {
    padding: 10px;
    width: 300px;
    height: 40px;
    background-color: #FBF8F8;
    outline-color: #F28D8D;
}


.profile_image {
    border-radius: 30%;
}

.navbar {
    background-color: #FEF7EB;
}

.navbar h1 {

    font-size: 28px;
}

.nav-link {
    color: #F28D8D;
    font-size: 18px;
    font-weight: border;
}

.navbar-toggler {                               //ハンバーガーメニュー枠線
    border-color: #F28D8D;
    border-width: 3px;
}

.navbar-toggler{                               //ハンバーガーメニュー背景色
  background-color: #FEF7EB;
}

.navbar-toggler .navbar-toggler-icon {                       //ハンバーガーメニュー三本線(色変えた)
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(242,141,141)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-nav .nav-link {
    // color: rgb(242,141,141);
    // color: #F28D8D;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    // color: #5B7EA9;
}

.application_name {
    font-size: 60px;
    display: block;
    text-align: center;
}

.logo {
    width: 70px;
}

.top-logo {
    width: 200px;
}

.page-center {
    display: block;
    text-align: center;
    margin: 0 0 35px;
}

.top-btn {
    display: inline-block;
    padding: 10px 50px;
    width: 300px;
    background-color: #E5E5E5;
    border-radius: 30px;
    margin-top: 5px;
}

.confirm-btn {                                        //会員登録系
    padding: 8px 0;
    color: #91B3E0;
    background-color: #E5E5E5;
    display: block;
    margin: 0 auto;
    width: 230px;
    border-radius: 5px;
    opacity: 0.8;
    border: none;
}

.confirm-btn:hover {
    opacity: 1;
    color: #5B7EA9;
}


.submit-btn {
    border: none;                                        //枠線消した
    color: #91B3E0;
    padding: 8px 24px;
    background-color: #E5E5E5;
    display: block;
    margin: 0 auto;
    width: 180px;
    border-radius: 5px;
    opacity: 0.8;
}

.submit-btn:hover {
    color: #5B7EA9;
}

.comment {
    background: #FBF8F8;
    border: 2px solid #E5E5E5;
    margin: 5px 0;
    padding: 8px;
}

.comment-border {
    border-bottom: 1px solid #E5E5E5;
}

.comment-btn {
    border: none;                                                     //枠線消した
    color: #91B3E0;
    padding: 8px 24px;
    background-color: #E5E5E5;
    // display: block;
    // margin: 0 auto;
    width: 150px;
    border-radius: 5px;
    opacity: 0.8;
    margin: 5px 0;
}

.comment-btn:hover {
    color: #5B7EA9;
}

.search-form {
    background-color: #FBF8F8;
    outline-color: #F28D8D;
    padding: 5px;
    width: 180px;
}

.search-submit-btn {
    border: none;                                                     //枠線消した
    color: #91B3E0;
    padding: 6px;
    background-color: #E5E5E5;
    display: block;
    // margin: 0 auto;
    // width: 10%;
    border-radius: 5px;
    // opacity: 0.8;
    margin-top: 5px;
}

.search-submit-btn:hover {
    color: #5B7EA9;
}

.card-group {
    background-color: #FBF8F8;
    padding: 15px 0;                             //cardのbottomのために
    text-align: center;
    // margin: 5px;
}

.user-card-group{                                  //マイページのカード
    background-color: #FBF8F8;
}

.card {
    margin: 20px;
}

.card-title {
    font-size: 20px;
}

.card-text {
    font-size: 18px;
}

.line-clamp {                                  //テキスト省略
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-img-top {                             //cardの画像
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.long-text-form {
    width: 80%;
    border-color: #485876;
    border-width: 2px;
    padding: 10px;
    background-color: #FBF8F8;
    outline-color: #F28D8D;
}

.text-form {
    width: 50%;
    border-color: #485876;
    border-width: 2px;
    padding: 10px;
    background-color: #FBF8F8;
    outline-color: #F28D8D;
}

.middle-text-form {
    width: 30%;
    border-color: #485876;
    border-width: 2px;
    padding: 10px;
    background-color: #FBF8F8;
    outline-color: #F28D8D;
}

.short-text-form {
    width: 20%;
    border-color: #485876;
    border-width: 2px;
    padding: 10px;
    background-color: #FBF8F8;
    outline-color: #F28D8D;
}

//kaminariのレイアウトここから
.pagination {
    justify-content: center;                        //kaminariを真ん中に
}

.pagination li a {                             //ページング自体のデザイン
  border: none;
  color: #485876;
}

.page-item.active .page-link {
    background-color: #FEF7EB;
    color: #F28D8D;
}


.pagination .active a {                          //表示しているページ番号のデザイン
  border-radius: 50%;
}

.pagination li a:hover {
  border-radius: 50%;
  background-color: #FBF8F8;
}
//kaminariのレイアウトここまで

.indent {
    text-align: center;
}

.indention {
    display: inline-block;
}

footer {
    background-color: #FEF7EB;
}

// スムーススクロール機能2/3 ここから
#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 90%;
    z-index: 10;
}

#page-top a {
    background-color: #FBF8F8;
    text-decoration: none;
    color: #485876;
    width: 100px;
    padding: 30px 0;
    text-align: center;
    display: block;
    border: 1px solid #485876;
    border-radius: 5px;
}

#page-top a:hover {
    text-decoration: none;
    background-color: #E5E5E5;
}
// スムーススクロール機能2/3 ここまで

.swiper-container {

    img {                                                           //画像が見切れないように
      display: inline;
      width: auto;
      max-width: 100%;
      max-height: 100%;
      align-self: center;                                            //上下の中央揃え
  }

  .swiper-button-prev {
    left: 0px;
    color: #485876;
  }
  .swiper-button-next {
    right: 0px;
    color: #485876;
  }

}


@media screen and (max-width: 1024px) {
  img {                                                                      //about画面の画像
    width: 100%;
    // max-width: 100%;                                                     //画像幅以上拡大しないようにする指定
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  img {                                                                      //about画面の画像
    width: 100%;
    // max-width: 100%;                                                     //画像幅以上拡大しないようにする指定
    height: auto;
  }
}

@media screen and (max-width: 576px) {
  img {                                                                      //about画面の画像
    width: 100%;
    // max-width: 100%;                                                    //画像幅以上拡大しないようにする指定
    height: auto;
  }

  .search-form {
    width: 100px;
  }
  
    #page-top {
    font-size: 40%;
}

  #page-top a {
    width: 45px;
    padding: 10px 0;
  }

  .new-products {
      text-align: center;
  }
}

