<div class='nested-fields mb-4'>                                                                <!--cocoonで'デメリット'機能実装6/6-->
  <%= f.text_area :disadvantage, class: 'text-form' %></br>
  <%= link_to_remove_association '削除', f %>
</div>