<% if product.errors.any? %>
  <div class="error_explanation page-center">
    <ul>
      <% product.errors.full_messages.each do |message| %>
        <li>･<%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>