<div class='nested-fields mb-4'>                                                                      <!--cocoonで'メリット'機能実装6/6-->
  <%= f.text_area :advantage, class: 'text-form' %></br>
  <%= link_to_remove_association 'メリット削除', f %>
</div>