<div class="swiper-container" style="width: 100%;">　　　　　　　　　　　　　　　　　　　　<!--card-bodyクラス内に入れないと画像のレイアウトが崩れる、、-->
  <div class="swiper-wrapper">
    <% if product.photos.present? %>
      <% product.photos.each do |photo| %>
        <div class="swiper-slide">
          <%= link_to product_path(product) do %>
            <%= attachment_image_tag photo, :image, class: 'card-img-top' %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <%= link_to product_path(product) do %>
        <%= image_tag 'no_image.png', class: 'card-img-top' %>
      <% end %>
    <% end %>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-pagination swiper-pagination-white"></div>
</div>