<% if model.errors.any? %>        <!--コメント空白禁止4/5-->
  <div class="error_explanation">
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li>・<%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>