<footer class="mt-3 pt-2 pb-2">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
            <h3 class="fas fa-carrot">couplee</h3>
          </div>
          <div class="col-md-8">
            <ul class="p-0 list-unstyled">
              <li class="nav-item ml-auto">
        <%= link_to home_about_path, class: 'nav-link' do %>
        <i class="fas fa-info-circle"></i>About
        <% end %>
      </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>